---
import { Image } from 'astro:assets';

import todoListImg from '../assets/todolist.webp';
import projectImg from '../assets/projectimg.webp';

const TODO_WIDTH = 1072; 
const TODO_HEIGHT = 494;

const PROJECT_WIDTH = 740; 
const PROJECT_HEIGHT = 494;
---

<section id="projects" class="main__section section__projects">
    <h2 class="section__title">Proyectos</h2>

    <a class="secction__link" href="https://theewiick.github.io/To-Do-List" target="_blank">
        <article class="main__article">
            <Image 
                class="article__img" 
                src={todoListImg} 
                alt="Proyecto To Do List"
                width={TODO_WIDTH} 
                height={TODO_HEIGHT} 
                format="webp"
            />
            <div class="article__div">
                <h3 class="article__title">To Do List</h3>
                <p class="article__text">To Do List con filtro, edición y tema claro/oscuro.</p>
            </div>
        </article>
    </a>

    <article class="main__article">
        <Image 
            class="article__img" 
            src={projectImg} 
            alt="Próximo proyecto"
            width={PROJECT_WIDTH} 
            height={PROJECT_HEIGHT} 
            format="webp" 
        />
        <div class="article__div">
            <h3 class="article__title">Proyecto 2</h3>
            <p class="article__text">Proximamente...</p>
        </div>
    </article>

    <article class="main__article">
        <Image 
            class="article__img" 
            src={projectImg} 
            alt="Próximo proyecto"
            width={PROJECT_WIDTH} 
            height={PROJECT_HEIGHT} 
            format="webp" 
        />
        <div class="article__div">
            <h3 class="article__title">Proyecto 3</h3>
            <p class="article__text">Proximamente...</p>
        </div>
    </article>
</section>